
.roommate-card-wrapper {
  width: auto;
  color: #0a3855;
  border-radius: 1em;
  text-align: left;
  overflow: hidden;

}
.img-div {
  height: 55%;
  
  overflow: hidden;
}
.img-div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.details {
  background-color:white;
  padding-left: 1em;
  padding-top: 1.5em;
  height: 45%;
}
.roomate-card-icon {
  display: inline;
  margin-right: 5px;
}

