
.roommate-card-wrapper {
  width: auto;
  text-align: left;
  overflow: hidden;

}
.img-div {
  height: 60%;
  
  overflow: hidden;
}
.img-div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.roomate-card-icon {
  display: inline;
  margin-right: 5px;
}

