.accomodation-card-wrapper {
  width: auto;
  color: #0a3855;
  border-radius: 1em;
  text-align: left;
  overflow: hidden;
}
.accomodation-img-div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.accomodation-img-div {
  height: 50%;
}
.accomodation-details {
  background-color: white;
  padding-left: 1em;
  padding-top: 1.5em;
  height: 50%;
}
.accomodation-card-icon {
  display: inline;
  margin-right: 5px;
}

