.accomodation-card-wrapper {
  width: auto;
  text-align: left;
  overflow: hidden;
}
.accomodation-img-div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.accomodation-img-div {
  height: 50%;
  overflow: hidden;
}
.accomodation-card-icon {
  display: inline;
  margin-right: 5px;
}
