.roommate-info-wrapper {
  padding: 20px 40px;
  background-color: #f7fcff;
  color: #0a3855;
  /* border-radius: 50px; */
}
.student-name {
  font-weight: 500;
  font-size: 25px;
}
.picture-name-section {
  text-align: center;
}
.roommate-profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: auto;
}
.about-header {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}

.religion-section {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.religion {
}
.side-hustle {
  margin: 0px auto;
}
.about-li {
  list-style-type: disc;
  margin-left: 11px;
}
.dp-icon {
  width: 100px;
  font-size: 100px;
}
.roomate-btn {
  height: 40px;
  width: 90%;
  color: white;
  background-color: #0a3855;
  border-radius: 30px;
  margin: auto;
  margin-left: 5%;
  margin-top: 15px;
}
@media only screen and (max-width: 700px) {
  .roommate-info-wrapper {
    width: auto;
    padding: 30px 30px;
  }
  .roommate-profile-picture {
    position: absolute;
    margin-left: 15px;
    margin-top: -10px;
    left: 20px;
  }
  .smallScreen-name-sec {
    text-align: left;
    position: relative;
    left: 40%;
    margin-bottom: 30px;
  }
  .profile-picture {
    height: 83px;
    width: 83px;
  }
  .roomate-btn {
    margin-left: 5%;
  }
}
