.accomondation-card-container {
  width: full;
  height: auto;
  padding: 15px 30px;
  background-color: #f7fcff;
  /* border-radius: 30px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px; */
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}
.grid-img1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(244, 237, 237);
  height: 200px;
  border-radius: 10px;
}
.grid-img2 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(244, 237, 237);
  height: 200px;
  left: 230px;
  border-radius: 10px;
}
.grid-img3 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(244, 237, 237);
  height: 100px;
  border-radius: 10px;
}
.grid-img4 {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
  top: 50%;
  margin-top: 5px;
  background-color: brown;
  height: 95px;
  border-radius: 10px;
}
.accomodation-header {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.iframe-map {
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
}
.label-container {
  display: flex;
  margin-left: 10%;
  margin-top: 10px;
}

.label1 {
  background-color: #c8f1ff;
  width: 90px;
  height: 35px;
  margin-right: 10px;
  padding-top: 7px;
  padding-left: 10px;
  border-radius: 20px;
  display: flex;
}
.accom-icon1 {
  display: inline;
  margin-right: 5px;
  margin-top: 3px;
  font-size: 20px;
}
.accom-span1 {
  font-size: 12px;
  margin-top: 5px;
}

.label2 {
  background-color: #c8f1ff;
  width: 90px;
  height: 35px;
  margin-right: 10px;
  padding-top: 7px;
  padding-left: 10px;
  border-radius: 20px;
  display: flex;
}
.accom-icon2 {
  display: inline;
  margin-right: 5px;
  margin-top: 0px;
  font-size: 23px;
}
.accom-span2 {
  font-size: 12px;
  margin-top: 5px;
}

.label3 {
  background-color: #c8f1ff;
  width: 90px;
  height: 35px;
  margin-right: 10px;
  padding-top: 7px;
  padding-left: 10px;
  border-radius: 20px;
  display: flex;
}
.accom-icon3 {
  display: inline;
  margin-right: 5px;
  margin-top: 0px;
  font-size: 23px;
}
.accom-span3 {
  font-size: 12px;
  margin-top: 5px;
}

.label4 {
  background-color: #c8f1ff;
  width: 120px;
  height: 35px;
  margin-right: 15px;
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 5px;

  border-radius: 20px;
  display: flex;
}
.accom-icon4 {
  display: inline;
  margin-right: 5px;
  margin-top: 0px;
  font-size: 23px;
}
.accom-span4 {
  font-size: 12px;
  margin-top: 5px;
}

.feature-list1 {
  display: inline;
  position: relative;
  left: 120px;
  bottom: 25px;
}
.feature-list2 {
  display: inline;
  position: relative;
  left: 65%;
  bottom: 135px;
}

.rules-list1 {
  display: inline;
  position: relative;
  left: 120px;
  bottom: 150px;
}
.feature-rules-div {
  margin-top: 30px;
}
.li {
  font-size: 12px;
  list-style-type: disc;
}
.feature-header {
  font-size: 14px;
  font-weight: bold;
}
.rule-header {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  bottom: 110px;
}
.rules-section {
  height: 20px;
}
.accom-btn {
  width: 100%;
  height: 40px;
  background-color: #0a3855;
  border-radius: 20px;
  color: white;
}

@media screen and (max-width: 640px) {
  .accomondation-card-container {
    width: 100%;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
  }
  .grid-img1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 150px;
    border-radius: 10px;
  }
  .grid-img2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 80px;
    width: 170px;
    border-radius: 10px;
  }
  .grid-img3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 80px;
    width: 170px;
    border-radius: 10px;
  }
  .grid-img4 {
    display: none;
  }
  .label-container {
    display: flex;
    position: relative;
    right: 30px;
    margin-top: 20px;
  }
  .label2 {
    padding-left: 5px;
    width: 35%;
    height: 40px;

    margin-right: 5px;
  }
  .accom-span2 {
    font-size: 10px;
  }
  .accom-icon2 {
    font-size: 20px;
    margin-right: 2px;
  }
  .label1 {
    padding-left: 5px;
    width: 35%;
    height: 40px;
    margin-right: 5px;
  }
  .accom-span1 {
    font-size: 10px;
  }
  .accom-icon1 {
    font-size: 20px;
    margin-right: 2px;
  }
  .label3 {
    padding-left: 5px;
    width: 35%;
    height: 40px;

    margin-right: 5px;
  }
  .accom-span3 {
    font-size: 10px;
  }
  .accom-icon3 {
    font-size: 20px;
    margin-right: 2px;
  }

  .label4 {
    padding-left: 5px;
    width: 36%;
    height: 45px;

    margin-right: 0px;
  }
  .accom-span4 {
    font-size: 10px;
  }
  .accom-icon4 {
    font-size: 20px;
    margin-right: 2px;
  }
  .feature-rules-div {
    margin-top: 20px;
    width: 100%;
    display: flex;
  }
  .feature-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .rule-header {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    left: 35px;
    top: 5px;
    bottom: 0px;
  }

  .feature-list2 {
    display: none;
  }
  .feature-list1 {
    position: relative;
    bottom: 0;
    left: 0;
  }
  .rules-list1 {
    position: relative;
    bottom: 0;
    top: 20px;
    left: 35px;
  }
  .accom-btn {
    margin-top: 30px;
  }

  .rm-br {
    display: none;
  }
}
