.form-container {
  width: 40%;
  height: 100%;
  margin: auto;
  padding: 20px;
  margin-top: 30px;
  background-color: white;
  border-radius: 50px;
  border-top: solid 90px #072f3b;
  border-bottom: solid 50px white;
  text-align: center;
  position: relative;
  top: 60px;
  z-index: 2;
}
.top-image-div {
  width: 40%;
  margin: auto;
  position: relative;
  top: 180px;
  z-index: 3;
}
.form-header {
  font-size: 30px;
}
.form-paragraph {
  font-size: 13px;
}
.top-btn1 {
  height: 40px;
  width: auto;
  padding: 0px 15px;
  border: 1px solid #072f3b;
  border-radius: 30px;
  margin-bottom: 15px;
}
.top-btn2 {
  height: 40px;
  width: auto;
  padding: 0px 15px;
  border: 1px solid #072f3b;
  border-radius: 30px;
  margin-bottom: 15px;
  margin-left: 10px;
}
.top-btn1:hover {
  background-color: #072f3b;
  color: white;
}
.top-btn2:hover {
  background-color: #072f3b;
  color: white;
}
.top-btn2:focus,
.top-btn1:focus {
  background-color: #072f3b;
  color: white;
}
.name-input {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.email-input {
  display: block;
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.school-drpdwn {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.department-drpdwn {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.gender-drpdwn {
  height: 50px;
  border: solid 1px #072f3b;
  width: 200px;
  border-radius: 8px;
  padding: 0 20px;
  position: relative;
  right: 80px;
  margin-bottom: 15px;
}
.date-input {
  height: 50px;
  border: solid 1px #072f3b;
  width: 250px;
  border-radius: 8px;
  padding: 20px;
  margin: 0 5px;
  margin-bottom: 15px;
  margin-left: 13px;
  position: absolute;
  right: 15px;
}

.profile-picture {
  display: none;
}
.img-icon {
  font-size: 50px;
  margin: auto;
  cursor: pointer;
}
.dispay-picture-tag {
  margin: 0px 15px;
}

.roommate-head-div {
  text-align: center;
  margin-bottom: 25px;
}

.side-hustle-drpdwn {
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.self-description-input {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.hobbie-input {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.schedule-input {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.ideal-roomate-input {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.Hostel-Address {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.accomondation-type {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  padding: 0 20px;

  border-radius: 8px;
  margin-bottom: 15px;
}
.hostel-rent {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
}
.hostel-description {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.furnish-description {
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0px 20px;
  margin-right: 10px;
}
.submit-btn {
  display: block;
  height: 50px;

  padding: 0px 15px;
  color: white;
  font-weight: bold;
  background-color: #072f3b;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
}
.footer-layer-effect {
  position: relative;
  bottom: 100px;
  background-color: red;
}
.preffered-location {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  padding: 0 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.budget-input {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.preffered-accomondation {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  padding: 0 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.dob {
  visibility: hidden;
}
.hide {
  display: none;
}
.hide-date[type="date"]::-webkit-calendar-picker-indicator {
  /* filter: invert(100%); */
  width: 0%;
}

.date-of-birth {
  top: 2px;
  font-size: 15px;
  left: 80px;
  position: relative;
  z-index: 3;
  opacity: 0.4;
}
select:valid {
  color: rgb(171, 170, 170);
}

@media screen and (max-width: 640px) {
  .form-container {
    width: 85%;
    border-top: solid 50px #072f3b;
  }
  .top-image-div {
    width: 85%;
    top: 150px;
  }
  .gender-drpdwn {
    height: 50px;
    border: solid 1px #072f3b;
    width: 40%;
    position: relative;
    left: -38px;
    padding: 0;
    padding-left: 10px;
  }
  .date-input {
    height: 50px;
    border: solid 1px #072f3b;
    width: 45%;
    font-size: smaller;
  }
  .date-of-birth {
    visibility: hidden;
  }
  .img-icon {
    font-size: 35px;
    margin: auto;
    cursor: pointer;
  }
  .submit-btn {
    width: 150px;
  }
  .top-btn1 {
    width: 45%;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .top-btn2 {
    width: 45%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .top-btn1:hover {
    background-color: #072f3b;
    color: white;
  }
  .top-btn2:hover {
    background-color: #072f3b;
    color: white;
  }
}
