.img-border-container {
  width: 40%;
  margin: auto;
  position: relative;
  top: 150px;
  z-index: 3;
}
.form-container {
  width: 40%;
  height: 100%;
  margin: auto;
  padding: 20px 35px;
  margin-top: 30px;
  background-color: white;
  border-radius: 50px;

  border-top: 64px solid #f9fbfb;
  text-align: center;
  position: relative;
  top: 60px;
  z-index: 2;
}
.border-img {
  width: 100%;
}
.top-btn1 {
  height: 40px;
  padding: 10px;
  border: 1px solid #072f3b;
  border-radius: 30px;
  margin-right: 20px;
  position: relative;
  right: 10px;
  margin-bottom: 20px;
}
.top-btn2 {
  height: 40px;
  padding: 10px;
  border: 1px solid #072f3b;
  border-radius: 30px;
  margin-bottom: 20px;
}
.rm-header {
  font-size: 25px;
  font-weight: bold;
}
.rm-paragraph {
  font-size: 13px;
}
.name-input {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.budget-input {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.email-input {
  display: block;
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.school-drpdwn {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.Prefered-accomondation {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.department-drpdwn {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 15px;
}
.gender-drpdwn {
  height: 50px;
  border: solid 1px #072f3b;
  width: 45%;
  border-radius: 8px;
  padding: 0 20px;
  position: relative;
  right: 5px;
}
.date-input {
  height: 50px;
  border: solid 1px #072f3b;
  width: 51%;
  border-radius: 8px;
  padding: 20px;
  margin: 0 5px;
  position: relative;
  left: 7px;
}

.profile-picture {
  display: none;
}
.img-icon {
  font-size: 50px;
  margin: auto;
  cursor: pointer;
}
.dispay-picture-tag {
  margin: 0px 15px;
}

.roommate-head-div {
  text-align: center;
  margin-bottom: 25px;
}

.side-hustle-drpdwn {
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.prefered-location {
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 0 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.self-description-input {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.hobbie-input {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.schedule-input {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.ideal-roomate-input {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.Hostel-Address {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.accomondation-type {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  padding: 0 20px;

  border-radius: 8px;
  margin-bottom: 15px;
}
.hostel-rent {
  display: block;
  height: 50px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
}

.hostel-description {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
  margin-bottom: 15px;
}
.furnish-description {
  height: 100px;
  border: solid 1px #072f3b;
  width: 100%;
  border-radius: 8px;
  padding: 20px 20px;
  margin-right: 10px;
}
.submit-btn {
  display: block;
  height: 40px;
  width: 150px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: #072f3b;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
}
.footer-layer-effect {
  position: relative;
  bottom: 100px;
  background-color: red;
}
.top-btn1:hover {
  background-color: #072f3b;
  color: white;
}
.top-btn2:hover {
  background-color: #072f3b;
  color: white;
}
optgroup:first-child {
  opacity: 0.5;
}
.hidden {
  display: none;
}
.show {
  display: none;
}

@media screen and (max-width: 640px) {
  .form-container {
    width: 85%;
    border-top: solid 50px #072f3b;
  }
  .img-border-container {
    width: 85%;
    margin: auto;
    position: relative;
    top: 150px;
    z-index: 3;
  }
  .gender-drpdwn {
    width: 40%;
    position: relative;
    right: 2px;
  }
  .date-input {
    width: 50%;
    margin-bottom: 15px;
    position: relative;
    left: 20px;
  }
  .img-icon {
    font-size: 35px;
    margin: auto;
    cursor: pointer;
  }
  .submit-btn {
    width: 150px;
  }
  .top-btn1 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .top-btn2 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
  .hostel-description,
  .furnish-description,
  .ideal-roomate-input,
  .schedule-input,
  .hobbie-input,
  .self-description-input {
    height: 50px;
    padding: 5px;
  }
}
